<!doctype html>
<html ng-app="App">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/two.min.js"></script>
</head>
<body ng-controller="Controller as controller">
<div class="row">
    <div class="col-md-12">
        <h2>Hilbert Curve Demo</h2>
    </div>

</div>
<div class="row">
    <div class="col-md-2">
        <form ng-submit="controller.draw()" class="form">
            <label for="curve-level">Curve Level (1-7)</label>
            <div class="form-group">
                <input type="text" id="curve-level" ng-model="controller.level">
            </div>
            <label for="node-number">Number of nodes (1-200)</label>
            <div class="form-group">
                <input type="text" id="node-number" ng-model="controller.nodeNumber">
            </div>
            <label for="group-number">Number of groups (1-10)</label>
            <div class="form-group">
                <input type="text" id="group-number" ng-model="controller.groupNumber">
            </div>
            <div class="form-group">
                <input class="btn-primary" type="submit" value="Draw">
            </div>

        </form>

    </div>

    <div class="col-md-10">
        <div id="canvas"></div>
    </div>
</div>

</body>
</html>